<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Mahasiswa</title>
</head>
<body>
    <h1> SELAMAT DATANG <br></h1>
    <h1> BERIKUT LIST MAHASISWA DI KELAS KAMI <br></h1>
    <% for( let index = 0; index < data.length; index++ ) { %>
        <% const dataMahasiswa = data[index] %>
        <ul>
            <li>Id : <%= dataMahasiswa.id %><br> </li>
            <li>Name : <%= dataMahasiswa.name %><br> </li>
            <li>NIM : <%= dataMahasiswa.nim %><br> </li>
            <li>Address : <%= dataMahasiswa.name %><br> </li>
        </ul>
    <% } %>
</body>
</html>