<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1> THIS IS PROFILE PAGE <br></h1>
    <% for( let index = 0; index < biodata.length; index++ ) { %>
        <% const databiodata = biodata[index] %>
        <ul>
            <li>NIM : <%= databiodata.nim %><br> </li>
            <li>NAME : <%= databiodata.name %><br> </li>
        </ul>
    <% } %>
</body>
</html>